
{% extends 'Base.html'%}

{% block title %} Course-Category {% endblock %}

{% block contant %}

{% load static %}

<div class="container">
    <br>
    <div class="row">

        {% for c in cours %}
        <div class="col mx-auto">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="{{c.image.url}}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">{{c.created_at}}</small></p>
                    <h5 class="card-title">{{c.topic}}</h5>
                    <p class="card-text"><small class="text-muted"> Language : Hindi</small></p>

                    <p class="card-text m-0 p-0">
                        <span class="price">
                            <del>Price :</del>
                            &nbsp;
                            <span>Free</span>
                        </span>

                    </p>
                </div>

                <div class="card-footer p-0">

                    <div class="row no-gutters">

                        <div class="col border-right">
                            <a href="/tutorialdetails/{{course.slug}}" class="btn btn-light btn-block">Start Course</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        {% endfor %}
    </div>
</div>


{% endblock %}